<div class="container">
  <%= render 'layouts/error_messages', variable: @event %>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= render 'layouts/error_messages', variable: @event %>
      <%= render 'layouts/event_edit', path: event_path(@event) %>
    </div>
  </div>
</div>
