<div class="container">
  <%= render 'layouts/event_search', path: events_path %>
  <%= render 'layouts/favorites_index', favorites: @favorites %>
  <div class="w-100">
    <%= paginate @favorites %>
  </div>
</div>
