<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <%= render 'layouts/favorites_index', favorites: @favorites %>
      <div class="w-100">
        <%= paginate @favorites %>
      </div>
    </div>
  </div>
</div>
