<div class="container">
  <div class="row mt-5">
    <div class="col-md-10 mx-auto">
      <h2>会員情報詳細</h2>
      <p class="lead mt-5">退会しますか?</h3>
      <p class="mt-4">退会すれば、すべてのタスクの確認、編集、新規登録ができなくなります。</p>
      <div class="mt-4">
        <%= link_to "マイページに戻る", users_mypage_path, class: "btn btn-primary" %>
        <%= link_to "退会する", users_withdraw_path, method: :patch, class: "btn btn-danger ml-5" %>
      </div>
    </div>
  </div>
</div>

