  <div class="mb-4 event_search">
    <h4>検索条件：
    <% if params[:genre_id] %>
      <span class="mt-3"><%= @genre.name %></span>
    <% elsif params[:user_id] %>
      <span class="mt-3"><%= @user.name_display %></span>
    <% elsif params[:is_finished] %>
      <span class="mt-3"><%= params[:is_finished] %></span>
    <% end %>
    </h4>
  </div>