  <div class="mb-4 event_search">
    <h4>検索条件：
    <% if params[:genre_id] %>
      <span class="mt-3"><%= @genre.name %></span>
    <% elsif params[:user_id] %>
      <span class="mt-3"><%= @user.name_display %></span>
    <% elsif params[:is_finished] %>
      <span class="mt-3"><%= Event.is_finisheds_i18n[params[:is_finished]] %></span>
    <% elsif params[:search] %>
      <span class="mt-3"><%= "#{params[:search]}" %></span>
    <% end %>
    </h4>
  </div>