<div>
  <% flash.each do |key, value| %>
    <% if key == "alert" or key == "danger" %>
      <p class="text-danger"><%= value %></p>
    <% else %>
      <p><%= value %></p>
    <% end %>
  <% end %>
</div>